* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #07345f;
    color: rgb(244, 242, 242);
    line-height: 60px;
    overflow-y: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    background-color: #0760b4;
    line-height: 1.3;
    padding: 20px;
    margin: 0;
}

.boldTitles {
    font-size: 3vw;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
}


#studiosContainer, #experimentsContainer, #rdContainer, #finalContainer {
    line-height: 35px;
    text-align: center;
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 20px;
    margin: 5px;
    padding: 5vw; 
    width: 20vw;
    transition: 0.3s ease-in-out;
}

#studiosContainer {
    background-color: rgb(225, 132, 51); 
}

#studiosContainer:hover {
    background-color: rgb(244, 242, 242); 
    color: rgb(225, 132, 51); 
    font-weight: 600;
}

#experimentsContainer {
    background-color: rgb(71, 166, 197);
}

#experimentsContainer:hover {
    background-color: rgb(244, 242, 242); 
    color: rgb(71, 166, 197);
    font-weight: 600;
}

#rdContainer {
    background-color: rgb(107, 173, 95);
}

#rdContainer:hover {
    background-color: rgb(244, 242, 242); 
    color: rgb(107, 173, 95);
    font-weight: 600;
}

#finalContainer {
    background-color: rgb(229, 100, 83);
}

#finalContainer:hover {
    background-color: rgb(244, 242, 242); 
    color: rgb(229, 100, 83);
    font-weight: 600;
}

#rdFlex {
    display: flex;
}

#leftColumnFlex {
    display: flex;
    flex-direction: column;
}

#centeringContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
}

.footerStyling {
    line-height: 1.5;
    text-align: center;
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
    background-color:  #0760b4;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(249, 138, 138);
}

@media (max-width: 480px) {
h1 {
    font-size: 24px;
    line-height: 1.5;
}

#studiosContainer, #experimentsContainer, #rdContainer, #finalContainer {
    font-size: 12px;
    padding: 10px;
}
}


@media (min-width: 700px) {
    h1 {
        font-size: 4vw;
        padding: 20px 10px 20px 10px;
    }

    #studiosContainer, #experimentsContainer, #rdContainer, #finalContainer {
        line-height: 2;
        padding: 20px;
        margin: 20px;
        font-size: 2vw;
    }

    .footerStyling {
        font-size: 2vw;
    }
}


@media (min-width: 850px) {
    #centeringContainer {
        padding: 20px 0px 0px 0px;
    }
}

@media (min-width: 950px) {
    h1 {
        font-size: 4vw;
    }
    
    .boldTitles {
        font-size: 2vw;
    }

    #studiosContainer, #experimentsContainer, #rdContainer, #finalContainer {
        font-size: 2vw;
    }

    .footerStyling {
        font-size: 1.5vw;
    }
}

@media (min-width: 1080px) {
    h1 {
        font-size: 4vw;
    }
    
    .boldTitles {
        font-size: 1.7vw;
    }

    #studiosContainer, #experimentsContainer, #rdContainer, #finalContainer {
        font-size: 1.7vw;
        padding: 8px;
        margin: 10px;
    }

    .footerStyling {
        font-size: 1.5vw;
    }
}

@media (max-height: 800px) {
    body {
      height: 800px; /* Set a maximum height in pixels */
    }
  }

/* @media (max-width: 1200px) {
    body {
      width: 1200px; 
    } */