* {
    margin: auto;
    padding: 0;
}

body {
    background-image: url(../images/backgroundimage.jpg);
    background-attachment: fixed;
}

nav {
    padding: 8px;
    margin: 20px 10px 20px 10px;
    border: 2px solid black;
    display: inline-block;
    background: rgb(246, 239, 239, 0.95);
    border-radius: 16px;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

nav a:hover {
    color: red;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
}

header {
    width: 850px;
    height: 200px;
    margin: auto;
    background-color: rgb(246, 239, 239, 0.95);
    color: black;
    border-radius: 45px;
    font-family: 'Young Serif', serif;
    font-size: 28px;
}

h1 {
    padding-top: 70px;
    margin: auto;
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 500px;
    background-color: rgba(48, 46, 46, 0.97);
    color: rgb(246, 239, 239);
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
}

section {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400px;
    line-height: 1.6;
    background-color: rgba(48, 46, 46, 0.97);
    color: rgb(246, 239, 239);
    width: 600px;
    padding: 10px 100px 40px 100px;
    border-radius: 45px;
    margin-top: 0px;
    margin-bottom: 120px;
}

p {
    margin-top: 45px;
}

a {
    text-decoration: none;
    color: rgb(221, 160, 160);
}

a:hover {
    color: red;
    font-weight: 500;
    cursor: pointer;
}

img {
    padding-left: 25px;
}
    
